@import url('./colors.css');

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo {
    height: 40px;
}

.navigation__wrapper {
    display: flex;
    color: var(--white);
    font-weight: bold;
}

.navigation__item {
    display: flex;
    margin-right: 40px;
    align-items: center;
    position:relative;
}
.navigation__item:hover {
    color: var(--light-blue);
    cursor: default;
    transition: color .3s ease-in-out;
}
.navigation__item:hover > .navigation__dropdown {
    display: unset;
}
.navigation__item:hover > .navigation__item--triangle {
    transform: rotate(180deg);
    margin-bottom: 6px;
    border-top-color: var(--light-blue);
    transition: border-top-color .3s ease-in-out;
}

.navigation__item-link {
    text-decoration: none;
    color: var(--white);
}

.navigation__item--triangle {
    border: 5px solid transparent;
    border-top-color: var(--white);
    margin-left: 7px;
    margin-top: 5px;
}

.navigation__dropdown {
    width: 240px;
    position: absolute;
    list-style: none;
    top: 50px;
    background-color: white !important;
    padding-left: 0px;
    display: none;
    margin-top: 0px;
}
.navigation__dropdown__item {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.add-spacings--top {
    padding-top: 30px;
}
.add-spacings--bottom {
    padding-bottom: 30px;
}
.navigation__dropdown__item--link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark-blue);
    font-weight: lighter;
}
.navigation__dropdown__item--link:hover {
    color: var(--light-blue);
    transition: color .3s ease-in-out;
}

.services-background {
    background: url("../assets/shapes-services.png") no-repeat bottom right;
}
.company-background {
    background: url("../assets/shapes-company.png") no-repeat bottom right;
}
.resources-background {
    background: url("../assets/shapes-resources.png") no-repeat bottom right;
}

.navigation__item-btn {
    width: 160px;
    height: 50px;
    background: var(--blue);
    position: relative;
}
.navigation__item-btn > span:first-of-type {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.navigation__item-btn:hover {
    cursor: pointer;
    background: var(--light-blue);
    transition: background .3s ease-in-out;
}

.btn--triangle {
    border: 10px solid transparent;
    border-left-color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12%;
}
.btn--link {
    text-decoration: none;
    color: var(--white);
}