@import url('./colors.css');

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    position: fixed;
    max-width: inherit;
    width: 100%;
}

.main-header__logo {
    height: 40px;
}
.main-header__logo:hover {
    fill: var(--light-blue);
    transition: fill .3s ease-in-out;
}

.main-header__logo-svg {
    background-image: url("../assets/logo-white.svg");
    fill: red;
}

.navigation__wrapper {
    display: flex;
    color: var(--white);
    font-weight: bold;
}

.navigation__item {
    display: flex;
    margin-right: 40px;
    align-items: center;
    position:relative;
}
.navigation__item:hover {
    color: var(--light-blue);
    cursor: default;
    transition: color .3s ease-in-out;
}
.navigation__item--wrapper:hover + .navigation__dropdown {
    opacity: 1;
    transform: translateY(0px);
    transition: all .3s ease-in-out;
}
.navigation__item--wrapper:hover > .navigation__item--triangle {
    transform: rotate(180deg);
    margin-bottom: 6px;
    border-top-color: var(--light-blue);
    transition: border-top-color .3s ease-in-out;
}

.navigation__item-link {
    text-decoration: none;
    color: var(--white);
}
.navigation__item-link:hover {
    color: var(--light-blue);
    transition: color .3s ease-in-out;
}

.navigation__item--triangle {
    border: 5px solid transparent;
    border-top-color: var(--white);
    position: absolute;
    right: -18px;
    bottom: 18px;
}

.navigation__dropdown {
    width: 240px;
    position: absolute;
    list-style: none;
    top: 50px;
    background-color: white !important;
    padding-left: 0px;
    opacity: 0;
    margin-top: 0px;
    transform: translateY(20px);
}
.navigation__dropdown__item {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.add-spacings--top {
    padding-top: 30px;
}
.add-spacings--bottom {
    padding-bottom: 30px;
}
.navigation__dropdown__item--link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark-blue);
    font-weight: lighter;
}
.navigation__dropdown__item--link:hover {
    color: var(--light-blue);
    transition: color .3s ease-in-out;
}

.services-background {
    background: url("../assets/shapes-services.png") no-repeat bottom right;
}
.company-background {
    background: url("../assets/shapes-company.png") no-repeat bottom right;
}
.resources-background {
    background: url("../assets/shapes-resources.png") no-repeat bottom right;
}

.navigation__item-btn {
    width: 160px;
    height: 50px;
    background: var(--blue);
    position: relative;
    margin-right: 40px;
}
.navigation__item-btn > span:first-of-type {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.navigation__item-btn:hover {
    cursor: pointer;
    background: var(--light-blue);
    transition: background .3s ease-in-out;
}

.btn--triangle {
    border: 10px solid transparent;
    border-left-color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12%;
}
.btn--link {
    text-decoration: none;
    color: var(--white);
}

.hamburger-menu {
    width: 25px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 40px;
}
.hamburger-line {
    width: 100%;
    height: 3px;
    background-color: var(--white);
}


/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 745px) {
    .navigation__wrapper {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
}