body {
    max-width: 1200px;
    background-color: var(--dark-blue);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, serif;
    overflow-x: hidden;
}

header {
    height: 80px;
    background: var(--dark-blue);
    z-index: 1;
}

* {
    box-sizing: border-box;
}

h1, h2, h4, h6, p {
    margin-top: 0px;
}

.layout-spacing {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.disable-overflow {
    overflow-x: hidden;
}