.partnerships {
    background: var(--white);
    
    box-shadow: 0 0 0 100vmax var(--white);
    clip-path: inset(0 -100vmax);
}

.partnerships__head {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    margin-bottom: 100px;
}

.partnerships__title {
    font-size: 50px;
    line-height: 70px;
}

.partnership__cards__wrapper {
    display: flex;
    width: fit-content;
}

.partnership__cards--overflow {
    overflow-x: auto;
    margin-left: -8%;
    margin-right: -8%;
}

.partnership__card:not(:last-child) {
    padding-right: 70px;
}

.partnership__card__image__wrapper {
    margin-bottom: 20px;
}

.partnership__card__image-holder {
    height: 480px;
    width: 448px;
    background: url('../assets/partnernship.png') no-repeat;
    background-size: contain;
    position: relative;
}
.partnership__card__image-holder:hover {
    background: var(--light-blue);
    background: linear-gradient(to bottom, var(--light-blue), transparent), url('../assets/noise.svg');
}
.partnership__card__image-holder:hover > .primary-button__wrapper {
    display: inline-block;
}

.partnership__card__description {
    font-size: 20px;
    line-height: 40px;
}

.partnership__card__link {
    text-decoration: none;
    color: inherit;
}
.partnership__card__link:hover {
    color: var(--light-blue);
    transition: color .3s ease-in-out;
}


.center-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.position--end {
    align-self: flex-end;
}

/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 480px) {
    .partnership__cards__wrapper {
        display: unset;
    }
    .partnership__cards--overflow {
        margin-left: 0%;
    }
    .partnership__card {
        transform: scale(0.8);
    }
} 